# ignore files with potentially sensitive information
receivers/*
!receivers/README.md

creds/*
!creds/README.md

config/*
!config/config.js
!config/aliases.js
!config/environmentals.js
!config/README.md

#development resources
.eslintrc.js
.idea
node_modules
package-lock.json
venv
